<% provide(:title, "ヘルプ") %>

<h1>ヘルプ</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  は、Rubyを学ぶ上での<a href="https://railstutorial.jp/#ebook">教本</a>であり
  <a href="https://railstutorial.jp/#screencast">動画教材</a>です。
  このサイトはチュートリアルを学ぶ際に、補助的に活用するブックマークサイトです。
  自ら調べたことを、このサイトに記録し、いつでも再確認できるようにしましょう。
</p>
