<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="post_form">
        <%= render "shared/post_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>ブックマーク一覧</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Rails Tutorial Bookmark へようこそ</h1>
    
    <h2>
      これは
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      を学習する際に活用するブックマークサイトです。
    </h2>
    
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
<% end %>