<% provide(:title, "ログイン") %>
<h1>ログイン(そのままログインしてください)</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= link_to "(パスワードを忘れた方はこちら)", new_password_reset_path %>
      <%= f.email_field :email, class: 'form-control', value: "rails.tutorial.bookmark@gmail.com" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control', value: "password" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "新規登録はこちら", signup_path %></p>
  </div>
</div>