<% provide(:title, "パスワードの再設定") %>
<h1>パスワードの再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= hidden_field_tag :email, @user.email %>
    
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認用" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>