<% provide(:title, "パスワードを忘れた方") %>
<h1>パスワードを忘れた方</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>