<h1>Rails Tutorial Bookmark</h1>

<p>こんにちは <%= @user.name %> さん。</p>

<p>
Rails Tutorial Bookmarkへようこそ！
アカウントを有効化するために、下のリンクをクリックしてください。
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token, 
                                                               email: @user.email) %>