<h1>パスワード再設定</h1>

<p>パスワードを再設定するために、下記のリンクをクリックしてください</p>
<p>リンクの有効期限は２時間です</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, 
                                                         email: @user.email) %>

<p>もしこのメールに心当たりがなければ、メールを無視し、パスワードは変更しないでください</p>