<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "アカウント削除", user, method: :delete,
                                          data: { confirm: "本当によろしいですか？" } %>
  <% end %>
</li>