<% provide(:title, "設定") %>
<% provide(:button_text, "保存") %>
<% provide(:url, user_path) %>

<h1>設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>