<%= form_for(@post) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.label :chapter, "チュートリアルのチャプター" %>
    <%= f.text_field :chapter, placeholder: "9.1.1", autocomplete: "off" %>
    
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "セッションとクッキーの違い", autocomplete: "off"  %>
    
    <%= f.label :link, "リンク" %>
    <%= f.text_area :link, 
        placeholder: "https://qiita.com/hot_study_man/items/147f8b767b4135fe6fe4", autocomplete: "off" %>
    
    <%= f.label :memo, "概要" %>
    <%= f.text_area :memo, placeholder: "session：一時的\ncookie：永続的", autocomplete: "off" %>
  </div>
  <%= f.submit "ブックマーク！", class: "btn btn-primary" %>
<% end %>