<li id="post-<%= post.id %>">

  <span class="under">チュートリアルのチャプター</span>
  <span class="content"><%= simple_format(post.chapter) %></span>
  
  <span class="under">タイトル</span>
  <span class="content"><%= link_to simple_format(post.title), post.link, target: :_blank %></span>
  
  <span class="under">概要</span>
  <span class="content"><%= simple_format(post.memo) %></span>
  
  <% if current_user?(post.user) %>
    <%= link_to "ブックマークを編集", edit_post_path(post) %> | 
    <%= link_to "ブックマークを削除", post_path(post), method: :delete,
                                 data: { confirm: "本当に削除してよろしいですか？" }%>
  <% end %>
</li>