<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="post_form">
      <!--もともと入力されていたものを表示する-->
      <%= form_for(@post) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="field">
          <%= f.label :chapter, "チュートリアルのチャプター" %>
          <%= f.text_field :chapter, autocomplete: "off", class: "form-color" %>
          
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, autocomplete: "off", class: "form-color" %>
          
          <%= f.label :link, "リンク" %>
          <%= f.text_area :link, autocomplete: "off", class: "form-color" %>
          
          <%= f.label :memo, "概要" %>
          <%= f.text_area :memo, autocomplete: "off", class: "form-color" %>
        </div>
        <%= f.submit "ブックマークを更新！", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>ブックマーク一覧</h3>
    <%= render "shared/feed" %>
  </div>
</div>